@media all {
    html {
        background-color: beige;
        color: #00f
    }

    body, div, li, ol, p, table, td, th, ul {
        padding: 0;
        margin: 0
    }

    body, footer, header, main {
        display: block
    }

    .slides > ul {
        margin: 0 10px;
        padding: 5px 10px
    }
}
