@media all {
    html {
        background-color: beige;
        color: #00f
    }

    body, div, li, p, table, td, th, ul {
        padding: 0;
        margin: 0
    }

    body, footer, header, main {
        display: block
    }

    .slides {
        max-height: 700px;
    }

    .slides > ul, ol {
        margin: 0 10px;
        padding: 5px 10px
    }

    .banner {
        padding: 5px;
        font-size: 20px;
    }

    img {
        max-height: 500px;
    }
    
    pre {
        background-color: lightgray;
    }
    
    .hint {
        background-color: yellow;   
    }
}
